@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #E30613;
  --color-primary-dark: #b8000d;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased text-gray-900;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
